/*FONTS*/
@font-face {
	font-family: gabriola;
	src: url(../fonts/gabriola.otf),
		url(../fonts/gabriola.ttf);
}
@font-face {
	font-family: segoeprint;
	src: url(../fonts/segoeprint.otf),
		url(../fonts/segoeprint.ttf);
}